.error {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #545050;
}

.error__title {
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: calc(33 / 27 * 100%);
  text-align: center;
  text-transform: uppercase;
  padding-block-start: 5px;
}
